.birthday-header {
    height: 10vh;
    background-image: url("https://images-eu.ssl-images-amazon.com/images/I/41IcTsttHtS.__AC_SY300_SX300_QL70_ML2_.jpg");
    background-size: contain;
}

.navbar {
    background-color: pink;
}

.card-img-top {
    height: 100px;
    width: 80px;
    margin-left: 30%;
}

.card {
    height: 300px;
    width: 500px;
}

.text-user-added {
    color: rgb(150, 52, 69);
}

.birthday-h1 {
    background-color: rgba(189, 189, 159, 0.61);
    width: 40vw;
    margin-left: 30%;
    border-radius: 50%;
    border: black;
    padding: 5px;
    margin-top: 10px;
}